.center-text {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    font-size: 0.8rem;
}

.card-width {
    min-width: 164.35px;
    height: 196px;
    width: 164.35px;
    min-height: 196px;
}

.login-btn {
    text-decoration: none;
    color: white;
}