<mat-card [style.background-color]="pokemonColor()" class="center-text" appearance="outlined">
    <mat-card-header>
        <mat-card-title [style.color]="'white'">{{ this.pokemon()?.species?.name | titlecase}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="this.pokemon()?.sprites?.front_default" [alt]="this.pokemon()?.species?.name">
    @if (this.isAuthenticated();) {
    <mat-card-actions>
        <button [style.color]="'white'" (click)="capturePokemon(this.pokemon())" matButton>Capture</button>
        <button [style.color]="'white'" (click)="releasePokemon(this.pokemon())" matButton>Release</button>
    </mat-card-actions>
    }@else {
    <mat-card-actions>
        <button disabled matButton>Capture</button>
        <button disabled matButton>Release</button>
    </mat-card-actions>
    }


</mat-card>