<div class="pokemon-logo">
    <h1 class="title">Available Pokémon</h1>

</div>

<section>

    <mat-grid-list [gutterSize]="isMobileView()? '10px':'0'" [cols]="isMobileView()? 2 : 10" rowHeight="13em">
        @if (pokemonList$ | async; as pokemonList) {
        @for (pokemon of pokemonList; track $index) {

        <mat-grid-tile>
            <app-pokemon [pokemonNameInput]="pokemon.species?.name"
                [pokemonImageURLInput]="pokemon.sprites?.front_default" />
        </mat-grid-tile>


        }
        }
    </mat-grid-list>
</section>